.body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  background-color: $black;
  background-image: url("../img/bckgr-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
