@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsansnarrow.woff") format("woff"),
    url("../fonts/ptsansnarrow.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansnarrowbold.woff") format("woff"),
    url("../fonts/ptsansnarrowbold.woff2") format("woff2");
}
